@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#shopping {
    @apply bg-gray-100;
    padding-top: 60px;
}

#shopping section {
    @apply max-w-6xl mx-auto px-3 md:px-0;
}
